body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5beec;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a2f4f;
  text-align: center;
}

input,
button {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
}

input {
  background-color: #fde2f3;
  color: #2a2f4f;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #2a2f4f;
}

button {
  background-color: #2a2f4f;
  color: #fde2f3;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #2a2f4f;
  cursor: pointer;
}

#home,
#login,
#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #917fb3;
  border-radius: 4px;
  padding: 20px;
  background-color: #fde2f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #2a2f4f;
  border-radius: 10px;
}

#chat-input,
#chat-log {
  width: 100%;
  max-width: 500px;
}

#chat-input {
  height: 60px;
  resize: none;
  overflow-y: auto;
  border: 2px solid #917fb3;
  background-color: #fde2f3;
  color: #917fb3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#chat-input::placeholder {
  color: #917fb3;
}

#chat-log {
  height: 300px;
  overflow-y: auto;
  border: 2px solid #917fb3;
  color: #917fb3;
  background-color: #fde2f3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#chat-log div {
  margin-bottom: 5px;
}

#chat-log .system {
  color: #917fb3;
  font-style: italic;
}

#chatroom {
  display: flex;
  width: 500px;
  flex-direction: column-reverse;
  outline: 0;
}
